<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Data Inquirer</title>
    
    <!-- Create a link to the main.css stylesheet -->
    <link rel="stylesheet" href="static/styles/styles.css" type="text/css" />

    <!-- Link to d3 -->
    <script src="https://d3js.org/d3.v3.min.js"></script>

    <!-- Link to jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- AG Note: may have to put in jquery.js so it will work offline -->
    <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <!-- AG Note: so my jquery will work on localhost -->
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
</head>

<body>
    <p>In immigrants</p>    
</body>