
<!DOCTYPE html>
<head>
    <meta charset="UTF-8" />
    <title>Data Inquirer</title>
    
    <!-- Create a link to the main.css stylesheet -->
    <link rel="stylesheet" href="static/styles/styles.css" type="text/css" />
<!--     <link rel="stylesheet" href="static/circle.css" type="text/css" />
    <link rel="stylesheet" href="static/_css/jquery-ui-slider-pips.css" type="text/css" /> -->

    <!-- Create a link to font css files-->
<!--     <link rel="stylesheet" href="/static/Otari_font/Otari.css" type="text/css" />
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" type="text/css" /> -->

    <!-- Create a link to the bootstrap -->
    <!-- <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css" />  -->
    <!-- <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css"> -->
<!--     // <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    // <script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script> -->
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <!-- // <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-legend/1.7.0/d3-legend.min.js"></script> -->
    <!-- // <script src="static/jquery-ui-slider-pips.min.js"></script> -->

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <!-- AG Note: may have to put in jquery.js so it will work offline -->
    <script>window.jQuery || document.write('<script src="{{
    url_for('static', filename='jquery.js') }}">\x3C/script>')</script>

    <!-- AG Note: so my jquery will work on localhost -->
    <script type=text/javascript>
      $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>

    <script>
        // Initialize some data...maybe start with 0
        var data = [300, 600, 200, 700, 500, 200, 0, 3000, 800, 900, 200, 500, 900, 300, 600, 300, 600, 2000, 700, 500, 2000, 100, 300, 800, 900, 200, 3500, 900, 200, 700];
    </script>

    <script type=text/javascript>
      // $(function() {
      //   $('a#calculate').bind('click', function() {
      //     $.getJSON($SCRIPT_ROOT + '/_get_time', function(data) {
      //       $("#result").text(data.result);
      //     });
      //     return false;
      //   });
      // });

      //Set global variables so they can be updated in, but accessed outside of .getJSON
      var force_test = 0;
      var sound_test = 0;
      var sound = 0;
      var force_val = 0;

      var startTime;

      $(setInterval(function getSensorData() { 
        // For local development without real sensors:
        $.getJSON($SCRIPT_ROOT + '/_get_time', function(data) {
          force_test_new = data.result['force'];
          sound_test = data.result['sound'];
          $("#force_test").text(force_test);  
          $("#sound_test").text(sound_test);
          // Might to only check every few iterations to remove noise
          // If person steps on mat, start timer
          
          //~ if (force_test_new == 1 && force_test != 1) {
            //~ startTime_test = new Date()
          //~ };
          //~ force_test = force_test_new;
          //~ elapsedTime();
        });
        // Get sound intensity data
        $.getJSON($SCRIPT_ROOT + '/_get_sound', function(data) {
          sound = data.result['sound'];  
          $("#sound").text(sound);
        });
        // Get force on mat data
        $.getJSON($SCRIPT_ROOT + '/_get_force', function(data) {
          force_val_new = data.result['force_status'];
          $("#force_val").text(force_val);
          if (force_val_new == 1 && force_val != 1) {
            startTime = new Date();
          };
          if (force_val == 0) {
			  startTime = new Date();
		  };
          force_val = force_val_new;
          elapsedTime();
        });
        updateSoundGraph(sound)
      }, 300) 
      );

      function updateSoundGraph(sound) {
        data.push(9);
        // data.push(sound);
        data.shift();
        d3.select("#line_graph").remove();  //Remove the graph and then re-draw the line 
        graph.append("svg:path")
            .attr("id", "line_graph")
            .attr("d", line(data))
            .attr("transform", null)
            .transition()
            .attr("transform", "trans late(" + x(-1) + ")");
      };

      function elapsedTime() {
            // later record end time
            var endTime = new Date();

            // time difference in ms
            var timeDiff = endTime - startTime;

            // strip the miliseconds
            timeDiff /= 1000;

            // get seconds
            var seconds = Math.round(timeDiff % 60);

            // remove seconds from the date
            timeDiff = Math.floor(timeDiff / 60);

            // get minutes
            var minutes = Math.round(timeDiff % 60);

            // remove minutes from the date
            timeDiff = Math.floor(timeDiff / 60);

            // get hours
            var hours = Math.round(timeDiff % 24);

            // remove hours from the date
            timeDiff = Math.floor(timeDiff / 24);

            // the rest of timeDiff is number of days
            var days = timeDiff;

            $(".time").text(days + " days, " + hours + ":" + minutes + ":" + seconds);
            return seconds;
        };

    </script>


    <style>
      /*Styling for the sound graph*/
      /* tell the SVG path to be a blue line without any area fill */
      path {
        stroke: steelblue;
        stroke-width: 3;
        fill: none;
      }
      
      .axis {
        shape-rendering: crispEdges;
      }

      .x.axis line {
        stroke: lightgrey;
      }

      .x.axis .minor {
        stroke-opacity: .5;
      }

      .x.axis path {
        display: none;
      }

      .y.axis line, .y.axis path {
        fill: none;
        stroke: #000;
      }
    </style>

    <!-- Style for the pie chart -->
    <style media="screen">
      .arc-hour, .arc-minute, .arc-second{
        shape-rendering:geometricPrecision;
      }
    </style>

</head>

<body>

  <div class="background">
    <div class="header">
      <img id="datainquirer-logo" src="static/assets/DataInquirer_Header_3x.png" alt="Data-Inquirer">
      <div>
        <div class="light-line"></div>
        <h class="font-bad-subheader">SUBHEADER GOES HERE</h>
        <div class="dark-line"></div>
      </div>
    </div>
    <div class="video-section">
      <div class="video-stream-element">
         <iframe allowfullscreen webkitallowfullscreen mozallowfullscreen src="https://video.nest.com/embedded/live/6FR8nDsu8X" frameborder="0" width="1080" height="607.5"></iframe> 
         <!-- For no border: 720 width, 405 height -->
      </div>
      
      <div class="video-text-element">
        <h class="font-color font-bad-title1">Cameras Detect Immigrants</h>
        <p class="font-bad-text1">text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text</p>
      </div>

    </div>
    <div class="dark-line-short"></div>
    <!-- line -->
    <div class="force-and-sound-section">
      <div class="force-element">
        <h class="font-color font-bad-title1">LOITERING DECREASES</h>
        <p>force: <span id="force">?</span></p>  
        <p class="font-bad-text1">text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text</p>

      </div>
      <div class="sound-element">
        <h class="font-color font-bad-title1">PROTEST detection</h>
        <p class="font-bad-text1">text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text, text</p>
        <div id="graph" class="aGraph" ></div>
      </div>
    </div>
    <div>
        <div class="light-line"></div>
        <h class="font-bad-subheader">For Security and Privacy Informaiton</h>
        <div class="dark-line"></div>
      </div>
  </div>


  <!-- Testing/debugging code -->
  <div>
    <h1>Automatically updating data</h1>
    <p>force_test: <span id="force_test">?</span></p> 
    <p>Time should be here:</p>
<!--
    <div class="time"></div> 
-->
    <p>sound_test: <span id="sound_test">?</span></p> 
    <p>Mat force: <span id="force_val">?</span></p>  
    <div class="time"></div> 
    <p>sound: <span id="sound">?</span></p> 
  </div> 
    <!-- <p><a href="#" id="calculate">get time</a></p> -->

  

  <script>
      // Defining and drawing sound chart
      /* implementation heavily influenced by http://bl.ocks.org/1166403 */
      
      // define dimensions of graph
      var m = [35, 35, 35, 35]; // margins
      var w = 850 - m[1] - m[3]; // width
      var h = 600 - m[0] - m[2]; // height
      
      // create a simple data array that we'll plot with a line (this array represents only the Y values, X will just be the index location)
      // var data = [3, 6, 2, 7, 5, 2, 0, 3, 8, 9, 2, 5, 9, 3, 6, 3, 6, 2, 7, 5, 2, 1, 3, 8, 9, 2, 5, 9, 2, 7];
      // data.push(5)

      // X scale will fit all values from data[] within pixels 0-w
      var x = d3.scale.linear().domain([0, data.length]).range([0, w]);
      // Y scale will fit values from 0-10 within pixels h-0 (Note the inverted domain for the y-scale: bigger is up!)
      var y = d3.scale.linear().domain([0, 5000]).range([h, 0]);
        // automatically determining max range can work something like this
        // var y = d3.scale.linear().domain([0, d3.max(data)]).range([h, 0]);

      // create a line function that can convert data[] into x and y points
      var line = d3.svg.line()
        // assign the X function to plot our line as we wish
        .x(function(d,i) { 
          // verbose logging to show what's actually being done
          console.log('Plotting X value for data point: ' + d + ' using index: ' + i + ' to be at: ' + x(i) + ' using our xScale.');
          // return the X coordinate where we want to plot this datapoint
          return x(i); 
        })
        .y(function(d) { 
          // verbose logging to show what's actually being done
          console.log('Plotting Y value for data point: ' + d + ' to be at: ' + y(d) + " using our yScale.");
          // return the Y coordinate where we want to plot this datapoint
          return y(d); 
        })

        // Add an SVG element with the desired dimensions and margin.
        var graph = d3.select("#graph").append("svg:svg")
              .attr("width", w + m[1] + m[3])  //determined width plus padding for the svg div
              .attr("height", h + m[0] + m[2])
            .append("svg:g")  //the svg:g lets us grab the whole graph in the svg and apply the padding to it
              .attr("transform", "translate(" + m[3] + "," + m[0] + ")");  //gives the graph padding on the left

        // create yAxis
        var xAxis = d3.svg.axis().scale(x).tickSize(-h).tickSubdivide(true);
        // Add the x-axis.
        graph.append("svg:g")
              .attr("class", "x axis")
              .attr("transform", "translate(0," + h + ")") //Moves xacis to the appropriate location
              .call(xAxis);


        // create left yAxis
        var yAxisLeft = d3.svg.axis().scale(y).ticks(4).orient("left");
        // Add the y-axis to the left
        graph.append("svg:g")
              .attr("class", "y axis")
              .attr("transform", "translate(0,0)") //moves y axis to the appropriate location
              .call(yAxisLeft);
        
          // Add the line by appending an svg:path element with the data line we created above
        // do this AFTER the axes above so that the line is above the tick-lines
        graph.append("svg:path")
          .attr("id", "line_graph") //added in to try give path a name to remove later
          .attr("d", line(data));  //svg:path is important here


      // Defining and drawing the time lapsed on mat chart
      // Code heavily influenced by: http://bl.ocks.org/exakte-aesthetik/159def5c0e6534a039fb
      var setupChart = {
        "margin": {
          "top": 10,
          "right": 50,
          "bottom": 10,
          "left": 50
        },
        width:  function() {return 960 - this.margin.left - this.margin.right;},
        height: function() {return 500 - this.margin.top - this.margin.bottom;},
        radius: function() {return this.height()/2;},
        "radiusRing": 45,
        "ringDistance": 1,
      };

      var color = d3.scale.ordinal()
      .range(["#2f4655", "#8a95a3", "#522c35", "#cca8b1", "#283b2f", "#9fb39f"]);

      var time = setTime();

      // Arcs
      var drawArcHour = d3.svg.arc()
      .outerRadius(setupChart.radius())
      .innerRadius(setupChart.radius() - setupChart.radiusRing);

      var drawArcMinute = d3.svg.arc()
      .outerRadius(setupChart.radius() - setupChart.ringDistance - setupChart.radiusRing)
      .innerRadius(setupChart.radius() - setupChart.ringDistance - (setupChart.radiusRing * 2));

      var drawArcSecond = d3.svg.arc()
      .outerRadius(setupChart.radius() - (setupChart.ringDistance * 2 ) - (setupChart.radiusRing * 2))
      .innerRadius(setupChart.radius() - (setupChart.ringDistance * 2 ) - (setupChart.radiusRing * 3));

      // Pie-Layouts

      var pieHour = d3.layout.pie()
      .sort(null)
      .value(function(d){ return d.hour;});

      var pieMinute = d3.layout.pie()
      .sort(null)
      .value(function(d){ return d.minute;});

      var pieSecond = d3.layout.pie()
      .sort(null)
      .value(function(d){ return d.second;});

      // Draw

      var svg = d3.select("body").append("svg")
      .attr("width", setupChart.width() + setupChart.margin.left + setupChart.margin.right)
      .attr("height", setupChart.height() + setupChart.margin.top + setupChart.margin.bottom)
      .append("g")
      .attr("class", "chart")
      .attr("transform", "translate(" + setupChart.margin.left + "," + setupChart.margin.top + ")")
      .append("g")
      .attr("class", "center")
      .attr("transform", "translate(" + setupChart.width()/2 + "," +setupChart.height()/2 + ")");

      update();

      setInterval(function(){
        time = setTime();
        update();
        console.log(time);
      }, 1000);

      // Setup the time data object

      function setTime(){
        var format = d3.time.format("%I-%M-%S");
        var currentTime = format(new Date());
        var currentTimeArray = currentTime.split("-");
        var timeObject = {
          "hour" : parseInt(currentTimeArray[0],10),
          "minute": parseInt(currentTimeArray[1],10),
          "second": parseInt(currentTimeArray[2],10),
          // "second": elapsedTime();
        };
        var timeObjectSub = {
          "hour" : 12 - currentTimeArray[0],
          "minute": 60 - currentTimeArray[1],
          "second": 60 - currentTimeArray[2],
          // "second": 60 - elapsedTime()
        };
        return [timeObject,timeObjectSub ];
      };

      function update(){

        // Hours

        var arcsHour = svg.selectAll(".arc-hour")
        .data(pieHour(time))
        .attr("class", "arc-hour");

        arcsHour.enter()
        .append("path");

        arcsHour.attr("d", drawArcHour)
        .attr("class", "arc-hour")
        .style("fill",function(d,i){return color(i);});

        // Minutes

        var arcsMinute = svg.selectAll(".arc-minute")
        .data(pieMinute(time))
        .attr("class", "arc-minute");

        arcsMinute.enter()
        .append("path");

        arcsMinute.attr("d", drawArcMinute)
        .attr("class", "arc-minute")
        .style("fill",function(d,i){return color(i+2);});

        // Seconds

        var arcsSecond = svg.selectAll(".arc-second")
        .data(pieSecond(time))
        .attr("class", "arc-second");

        arcsSecond.enter()
        .append("path");

        arcsSecond.attr("d", drawArcSecond)
        .attr("class", "arc-second")
        .style("fill",function(d,i){return color(i+4);});
      }

  </script>


</body>

</html>
