

.background {
	width: 2048px;
	height: 2732px;
	/*background-color: #FBFBF4;*/
	/*background-color: red;*/
}

/*Font styling*/

.font-color {
	color: #4A4A4A;
}

.font-bad-subheader {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 35px;
	text-align: middle;
	margin: 5px;
}

.font-bad-title1 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 80px;
	font-weight: bold;
}

.font-bad-text1 {
	font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
	font-size: 45px;
}

.font-good {

}

.font-size-title1 {

}


/*Header CSS*/
.header {

}

#datainquirer-logo {
	width: 75%;
	padding-left: 12.5%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
}

#dailydata-logo {
	width: 75%;
}

.light-line {
	background-color: #4A4A4A;;
	width: 100%;
	height: 2px;
}

.dark-line {
	background-color: #4A4A4A;; 
	width: 100%;
	height: 4px;
}

.dark-line-short {
	background-color: #4A4A4A;; 
	width: 90%;
	height: 3px;
	margin-left: 5%;
}

/*Video section css*/
.video-section {
	width: 100%;
	height: 25%;
	/*background-color: gray;*/
}

.video-stream-element {
	width: 55%;
	height: 95%;
	float: left;
	/*background-color: white;*/
	margin: 2.5%;
}

.video-text-element {
	width: 35%;
	height: 95%;
	float: left;
	/*background-color: white;*/
	margin: 2.5%;
	padding: 0px;
}


/*Force and sound section css*/
.force-and-sound-section {
	width: 100%;
	height: 50%;
	/*background-color: gray;*/
	/*display: table;*/
	/*display: inline-block;*/
}

.force-element {
	width: 45%;
	height: 95%;
	/*background-color: red;*/
	float: left;
	margin: 2.5%;

}

.sound-element {
	width: 45%;
	height: 95%;
	/*background-color: white;*/
	float: left;
	margin: 2.5%;
}

.pie-chart-container {
	position: relative;
	height: 100%;
}

.pie-text-box {
	position: relative;
	z-index: 99;
	width: 300px;
	/*background-color: gray;*/
	top: 400px;
	left: 300px;
}

.pie-text {
	font-weight: bold;
	font-size: 35px;
	text-align: center;
}

#protest-counter {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	background-color: #12659b;
	color: white;
	margin: 15px;
	height: 150px;
}


