

.background {
	width: 1024px;
	height: 1280px;
	background-color: #FBFBF4;
	/*background-color: red;*/
}

.font {

}


/*Header CSS*/
.header {

}

#datainquirer-logo {
	width: 75%;
	padding-left: 12.5%;
}

#dailydata-logo {
	width: 75%;
}

/*Video section css*/
.video-section {
	width: 100%;
	height: 400px;
	background-color: gray;
}

.video-stream-element {
	width: 480px;
	height: 394px;
	float: left;
	background-color: white;
	margin: 5px;
}

.video-text-element {
	width: 400px;
	height: 100%;
	float: left;
	background-color: white;
	margin: 5px;
}


/*Force and sound section css*/
.force-and-sound-section {
	width: 100%;
	height: 600px;
	background-color: gray;
	/*display: table;*/
	/*display: inline-block;*/
}

.force-element {
	width: 45%;
	height: 90%;
	background-color: white;
	float: left;
	margin: 5px;

}

.sound-element {
	width: 45%;
	height: 90%;
	background-color: white;
	float: left;
	margin: 5px;
}


